* {
    margin: 0;
    padding: 0;
}

.center-v {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.shout-table {
    margin: auto;
}

.shout-table table {
    table-layout: fixed;
    border-collapse: collapse;
}

.shout-table .row-drag {
    width: 25%;
}

.shout-table .row-text {
    width: 25%;    
}

.shout-table .row-date {
        width: 25%;
}

.shout-table .row-time {
        width: 25%;
}

.shout-table > table, .shout-table table th, .shout-table table td {
    border: 1px solid rgb(221, 221, 221);
    height: 50px;
    word-wrap:break-word;
}

.account-list-container {
    width: 200px;
    height: calc(100% - 50px);
    float: right;
    border-left: solid 1px rgb(221, 221, 221);
    box-sizing: border-box;
    position: relative;
}

.account-list-container .account-list-container-account-list {
    overflow-y:scroll;
    width: 100%;
    height: calc(100% - 40px);
}

.schedule-workspace {
    height: calc(100% - 50px);
    width: calc(100% - 600px);
    float: left;
}

.account-list-container-buttons {
    width: 100%;
    height: 40px;
    bottom: 0;
    position: absolute;
    border-top: 1px solid rgb(211, 211, 211);
}



