* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center-v {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.shout-table {
    margin: auto;
    padding: 0;
    height: 100%;
    position: relative;
}

.button-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
}



.shout-table table {
    table-layout: fixed;
    border-collapse: collapse;
}

.shout-table .row-drag {
    width: 20%;
}

.shout-table .row-text {
    width: 25%;    
}

.shout-table .row-date {
        width: 20%;
}

.shout-table .row-time {
        width: 10%;
}

.shout-table .row-edit {
    width: 25%;
}

.shout-table > table, .shout-table table th, .shout-table table td {
    border: 1px solid rgb(221, 221, 221);
    height: 50px;
    word-wrap:break-word;
}

.shout-table > table th.row-edit:hover {
/*    border: 1px solid white; */
 /*   background-color: red; */
}

.shout-table tbody tr:hover {
    background-color: rgb(234, 234, 234);
}

.shout-table > table td.edit-data {
    border-right: 1px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.account-list-container {
    width: 200px;
    height: calc(100%);
    float: right;
    border-left: solid 1px rgb(221, 221, 221);
    box-sizing: border-box;
    position: relative;
}

.account-list-container .account-list-container-account-list {
    overflow-y:scroll;
    width: 100%;
    height: calc(100% - 40px);
}

.schedule-workspace {
    height: 100%;
    display: flex;
   
}

.account-list-container-buttons {
    width: 100%;
    height: 40px;
    bottom: 0;
    position: absolute;
    border-top: 1px solid rgb(211, 211, 211);
}

#prev-shout-page {
    float: left;
    padding: 6px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
}

#next-shout-page {
    float: right;
    padding: 6px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
}

.btn-primary-disabled {
    background-color: rgb(123, 169, 208);
    color: white;
    cursor: default;
}

.btn-primary {
    background-color: rgb(123, 169, 208);
    color: white;
    cursor: pointer;
}

.btn-default {
    text-decoration: none;
    border-radius: 5px;
    margin-right: 25px;
    padding: 6px;
}

.button-box .btn-hover-shout {
    color: rgb(143, 143, 143);
}

.button-box .btn-hover-shout:hover {
    color: black;
}

/* This will always be the main content container. Add tabs, add what you like, this is the mother of all containers */
 .main-container {
    /* Take into consideration the height of nav bar */
    height: calc(100vh - 50px);
    background-color: beige;
    display: flex;
 }

 .side {
     background-color: yellow;
     height: 100%;
     flex: 0.1;
 }

  .schedule-workspace {
     height: 100%;
     flex-grow: 0.9;

}

/*
    main-container has flex;
    side-bar has flex 0.1;

*/