ul.sidebar-listing {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

.sidebar {
    min-width: 200px; 
    background: rgb(61, 61, 61);
    height: 100%;
    flex: 0.1;
}

.sidebar-header {
    font-size: 22px;
    padding: 20px 0px 3px 30px;
    border-bottom: 1px solid rgb(92, 92, 92);
}

.sidebar-item {
    border-bottom: 1px solid rgb(92, 92, 92);
    padding: 9px 0px 9px 30px;
    cursor: pointer;
}

.sidebar-item.disabled {
    cursor: default;
}

.sidebar > ul > li > a {
    text-decoration: none;
    color: white;
}

.sidebar li.sidebar-item:hover:not(.disabled) {
    background-color: rgb(38, 38, 38);
}

.sidebar li.sidebar-item.disabled {
    color: #999999;
}